{% include 'plantacao_app/partials/head.html' %}

<body>
    {% include 'plantacao_app/partials/header.html' %}
    <main class="main-content-container m-5">
        <div class="main-content main-content-list container row-cols-1 justify-content-center mt-5">
            <div class="col quadro"><div class="TextoTituloCardOnOff"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-faucet-drip"></i> Ligar/Desligar
                </div>
                <div class="box_dadosConteudo">
                    <label class="switch">
                        <input type="checkbox" id="togBtn">
                        <div class="slider round">
                         <span class="on">ON</span>
                         <span class="off">OFF</span>
                        </div>
                       </label>
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardUmidSolo"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-droplet"></i> Umidade do solo
                </div>
                <div class="box_dadosConteudo">
                    <p class="dados_previsao">Umidade do solo: <i class="minima"><i class="fa-solid fa-droplet"></i> {{umidade_solo}}%</i></p>
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardTemp"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-temperature-three-quarters"></i> Temperatura<br>
                </div>
                <div class="box_dadosConteudo">
                    <p class="dados_previsao">Temperatura sensor DHT11: <i class="minima"><i class="fa-solid fa-temperature-three-quarters"></i> {{temperatura_dht11}}º</i></p>
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardChuva"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-cloud-rain"></i> Chuva
                </div>
                <div class="box_dadosConteudo">
                    <p class="dados_previsao">Status da chuva: <i class="minima"><i class="fa-solid fa-cloud-rain"></i> {{chuva}}</i></p>
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardPrev"></div>
                <div class="box_dadosTitulo">
                        <i class="fa-solid fa-cloud-sun"></i> Previsão do tempo
                </div>
                <div class="box_dadosConteudo">
                        <p class="dados_previsao">Temperatura: <i class="minima"><i class="fa-solid fa-temperature-arrow-down"></i> {{temperatura_minima}}</i> | <i class="maxima"><i class="fa-solid fa-temperature-arrow-up"></i> {{temperatura_maxima}}</i></p>
                        <p class="dados_previsao">Umidade do ar: <i class="minima"><i class="fa-solid fa-down-long"></i> {{umidade_minima}}</i> | <i class="maxima"><i class="fa-solid fa-up-long"></i> {{umidade_maxima}}</i></p>
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardUmidTerra"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-wind"></i> Umidade do ar
                </div>
                <div class="box_dadosConteudo">
                    <p class="dados_previsao">Umidade sensor DHT11: <i class="minima"><i class="fa-solid fa-wind"></i> {{umidade_dht11}}%</i></p>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <div class="foot"><i class="fa-solid fa-seedling"></i> &copy; 2022, Plantação IOT</div>
</footer>

</html>
