{% include 'plantacao_app/partials/head.html' %}

<body>
    {% include 'plantacao_app/partials/header.html' %}
    <main class="main-content-container m-5">
        <div class="main-content main-content-list container row-cols-1 justify-content-center mt-5">
            <div class="col quadro"><div class="TextoTituloCardOnOff"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-faucet-drip"></i> Ligar/Desligar
                </div>
                <div class="box_dadosConteudo">
                    <button class="btn btn-primary mt-2">Ligar</button>
                    <button class="btn btn-danger mt-2">Desligar</button>
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardUmidSolo"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-droplet"></i> Umidade do solo
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardTemp"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-temperature-three-quarters"></i> Temperatura
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardChuva"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-cloud-rain"></i> Chuva
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardPrev"></div>
                <div class="box_dadosTitulo">
                        <i class="fa-solid fa-cloud-sun"></i> Previsão do tempo
                </div>
                <div class="box_dadosConteudo">
                        <p class="dados_previsao">Temperatura: <i class="minima"><i class="fa-solid fa-temperature-arrow-down"></i> {{temperatura_minima}}</i> | <i class="maxima"><i class="fa-solid fa-temperature-arrow-up"></i> {{temperatura_maxima}}</i></p>
                        <p class="dados_previsao">Umidade do ar: <i class="minima"><i class="fa-solid fa-down-long"></i> {{umidade_minima}}</i> | <i class="maxima"><i class="fa-solid fa-up-long"></i> {{umidade_maxima}}</i></p>
                </div>
            </div>
            <div class="col quadro"><div class="TextoTituloCardUmidTerra"></div>
                <div class="box_dadosTitulo">
                    <i class="fa-solid fa-cloud-showers-water"></i> Umidade da terra
                </div>
            </div>
        </div>
    </main>
    <footer class="p-2">
        <div class="foot"><i class="fa-solid fa-seedling"></i> &copy; 2022, Plantação IOT</div>
    </footer>
</body>

</html>
