
:root{
    --cor_fundo: #00b6c0;
    --primeira_cor_gradiente: #393E46;
    --segunda_cor_gradiente: #222831;
    --cor_div_clara: #EEEEEE;
    --cor_bordas: rgb(150, 150, 150);
    --fonte-principal: sans-serif;
    --fonte-titulos: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.main-header-container {
  background-image: linear-gradient(#222831, #393E46);
  border-bottom: 1px solid var(--cor_div_clara);	
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem;
}

.TextoTituloCard{
  background-color: var(--segunda_cor_gradiente);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: inherit;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


.box_dados{
  font-family: var(--fonte-titulos);
  font-size: 20px;
  margin-top: 60px;
}

.quadro{
  border: 2px solid var(--primeira_cor_gradiente);
  border-radius: 15px;
  text-align: center;
  background-color: var(--cor_div_clara);
  height: 250px;
  transition: all 150ms ease-in-out; 
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.quadro:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 10;
}

.main-logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.main-logo-icon {
  margin-right: 1rem;
}

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 4rem;
}

body {
  font-size: 1.3rem;
  font-family: var(--fonte);
  background: var(--cor_fundo);
}

footer {
    z-index: 5;
    border-top: 1px solid var(--cor_div_clara);
    background-image: linear-gradient(#393E46,#222831);
    width: 100%;
    height: fit-content;
    bottom: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    flex: 0;
  }


  .foot{
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-family: var(--fonte);
    font-size: 16px;
    padding: 0 !important;
    margin: 0.5vh !important;
  }

  .minima{
    font-style: normal;
    text-decoration: none;
    color: blue;
  }

  .maxima{
    font-style: normal;
    text-decoration: none;
    color: red;
  }
