
:root{
    --cor_fundo:rgb(206, 206, 224);
    --primeira_cor_gradiente: #0b3c79;
    --segunda_cor_gradiente: #051933;
    --cor_div_clara: #e9e7e9;
    --cor_bordas: rgb(150, 150, 150);
    --fonte-principal: sans-serif;
    --fonte-titulos: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.main-header-container {
  background-image: linear-gradient(#0b3c79, #09254b);
  border-bottom: 1px solid var(--cor_bordas);	
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem;
}

.TextoTituloCardOnOff{
  height: 3px;
  background-color: hsl(0, 78%, 62%);
}

.TextoTituloCardUmidSolo{
  height: 3px;
  background-color: #ff833b9c;
}

.TextoTituloCardTemp{
  height: 3px;
  background-color: #e7d84dbe;
}

.TextoTituloCardChuva{
  height: 3px;
  background-color: #5e54e693;
}

.TextoTituloCardPrev{
  height: 3px;
  background-color: hsl(180, 62%, 55%);
}

.TextoTituloCardUmidTerra{
  height: 3px;
  background-color: #31c72c7e;
}

.box_dadosTitulo{
  font-family: var(--fonte-titulos);
  font-size: 20px;
  margin-top: 30px;
}

.box_dadosConteudo{
  font-family: var(--fonte-titulos);
  font-size: 20px;
  margin-top: 60px;
}

.quadro{
  border: 1px solid var(--cor_bordas);
  text-align: center;
  background-color: var(--cor_div_clara);
  height: 250px;
  transition: all 150ms ease-in-out; 
  box-shadow: 0px 20px 30px -20px rgba(0, 0, 0, 0.473);
}

.quadro:hover{
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 10;
}

.main-logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.main-logo-icon {
  margin-right: 1rem;
}

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 4rem;
}

body {
  font-size: 1.3rem;
  font-family: var(--fonte);
  background: var(--cor_fundo);
}

footer {
    z-index: 5;
    border-top: 1px solid var(--cor_bordas);
    background-image: linear-gradient(#09254b,#0b3c79);
    width: 100%;
    height: fit-content;
    bottom: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    flex: 0;
  }


  .foot{
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-family: var(--fonte);
    font-size: 16px;
    padding: 0 !important;
    margin: 0.5vh !important;
  }

  .minima{
    font-style: normal;
    text-decoration: none;
    color: blue;
  }

  .maxima{
    font-style: normal;
    text-decoration: none;
    color: red;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}